openapi: 3.0.1
info:
  title: Pismo Accounts Programs API
  description: Specification of the Pismo cloud-native issuer-processing and core-banking platform API. Covers accounts, customers, cards, authorizations, transactions and statements, programs, and event/webhook configuration. Pismo is a Visa-owned platform (acquired January 2024). Authentication uses OAuth2 client-credentials to obtain a Bearer access token; account-scoped endpoints additionally require an account-specific token that encodes a Pismo account ID.
  termsOfService: https://www.pismo.io
  contact:
    name: Pismo Developer Support
    url: https://developers.pismo.io
  version: '1.0'
servers:
- url: https://api.pismo.io
  description: Production
- url: https://sandbox.pismolabs.io
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Programs
  description: Product program configuration.
paths:
  /programs/v1/programs:
    post:
      operationId: createProgram
      tags:
      - Programs
      summary: Create program
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProgramRequest'
      responses:
        '201':
          description: Program created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
  /programs/v1/programs/{programId}:
    get:
      operationId: getProgram
      tags:
      - Programs
      summary: Get program
      parameters:
      - name: programId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Program found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Program'
components:
  schemas:
    CreateProgramRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
        currency:
          type: string
        type:
          type: string
          enum:
          - CREDIT
          - DEBIT
          - PREPAID
    Program:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
        type:
          type: string
        currency:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 client-credentials access token obtained from POST /passport/v2/oauth/token. Pass as `Authorization: Bearer <token>`. Account-scoped endpoints require an account-specific token encoded with a Pismo account ID.'
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.pismo.io/passport/v2/oauth/token
          scopes: {}
