openapi: 3.0.1
info:
  title: Pismo Accounts Transactions API
  description: Specification of the Pismo cloud-native issuer-processing and core-banking platform API. Covers accounts, customers, cards, authorizations, transactions and statements, programs, and event/webhook configuration. Pismo is a Visa-owned platform (acquired January 2024). Authentication uses OAuth2 client-credentials to obtain a Bearer access token; account-scoped endpoints additionally require an account-specific token that encodes a Pismo account ID.
  termsOfService: https://www.pismo.io
  contact:
    name: Pismo Developer Support
    url: https://developers.pismo.io
  version: '1.0'
servers:
- url: https://api.pismo.io
  description: Production
- url: https://sandbox.pismolabs.io
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Transactions
  description: Posted transactions and transaction shifts.
paths:
  /transactions/v1/transactions/{transactionId}:
    get:
      operationId: getTransactionById
      tags:
      - Transactions
      summary: Get transaction
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transaction found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
        account_id:
          type: integer
          format: int64
        amount:
          type: number
          format: double
        currency:
          type: string
        type:
          type: string
        description:
          type: string
        soft_descriptor:
          type: string
        event_date:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 client-credentials access token obtained from POST /passport/v2/oauth/token. Pass as `Authorization: Bearer <token>`. Account-scoped endpoints require an account-specific token encoded with a Pismo account ID.'
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.pismo.io/passport/v2/oauth/token
          scopes: {}
