openapi: 3.0.1
info:
  title: Pismo Accounts Customers API
  description: Specification of the Pismo cloud-native issuer-processing and core-banking platform API. Covers accounts, customers, cards, authorizations, transactions and statements, programs, and event/webhook configuration. Pismo is a Visa-owned platform (acquired January 2024). Authentication uses OAuth2 client-credentials to obtain a Bearer access token; account-scoped endpoints additionally require an account-specific token that encodes a Pismo account ID.
  termsOfService: https://www.pismo.io
  contact:
    name: Pismo Developer Support
    url: https://developers.pismo.io
  version: '1.0'
servers:
- url: https://api.pismo.io
  description: Production
- url: https://sandbox.pismolabs.io
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Customers
  description: Customer registration and customer-account relationships.
paths:
  /customers/v1/customers:
    post:
      operationId: createCustomer
      tags:
      - Customers
      summary: Create customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Customer created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
  /customers/v1/customers/{customerId}:
    get:
      operationId: getCustomer
      tags:
      - Customers
      summary: Get customer
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Customer found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
    CreateCustomerRequest:
      type: object
      required:
      - name
      - document_number
      properties:
        name:
          type: string
        document_number:
          type: string
        type:
          type: string
          enum:
          - PERSON
          - LEGAL_ENTITY
        birth_date:
          type: string
          format: date
        email:
          type: string
          format: email
    Customer:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        document_number:
          type: string
        type:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
  parameters:
    CustomerId:
      name: customerId
      in: path
      required: true
      schema:
        type: integer
        format: int64
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth2 client-credentials access token obtained from POST /passport/v2/oauth/token. Pass as `Authorization: Bearer <token>`. Account-scoped endpoints require an account-specific token encoded with a Pismo account ID.'
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.pismo.io/passport/v2/oauth/token
          scopes: {}
